.box{
    /* border: 3px solid red; */
    padding: 20px;
    border-top: 4px solid red;
    border-left: 2px solid black;
    border-bottom: 6px solid green;
    margin-top: 50px;
    /* width: 500px; */
    max-height: 1000px;
    min-width: 200px;
}
ul{
    list-style-type: none;
}
a:link{
    padding: 8px;
    margin: 0 20px;
    background-color: brown;
    text-decoration: none;
    color: white;
}
a:hover{
    color: coral;
    cursor:zoom-in;
}
a:visited{
    color: none;
}
a:active{
    color: green;
}