*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box{
    position: relative;
    border: 2px solid red;
    /* top: 30px; */
    width: 800px;
    height: 500px;
    background-color: chocolate;
}
.box2{
    width: 100px;
    height: 100px;
    background-color: purple;
    position: absolute;
    top: 100px;
    left: 100px;
}
